doctype html
html(lang="en")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description",content="")
  link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
  meta(name="author", content="Sergey Pozhilov")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
  link(rel="stylesheet",href="assets/styles/main.css")
  title Login - Frontend test

  body.page.page_login

    .panel.panel_login: form(action="profile.html", method="get")
      .panel__body
        .panel__text
          h2.panel__caption Login
          .form-simple
            .form-simple__item.form-simple__item_login
              .input
                input.input__field#email(type="text", required)
                label.input__label.input__label_email(for="email") Email
                span.input__highlight
                span.input__bar
            .form-simple__item.form-simple__item_login
              .input
                input.input__field#password(type="password", required)
                label.input__label.input__label_email(for="password") Password
                span.input__highlight
                span.input__bar
            .form-simple__item.form-simple__item-notes
              | By signing up or clicking continue, I confirm that I have
              |  read and agree to the #[a(href="notimplemented.html") Terms] and #[a(href="notimplemented.html") Privacy Policy]
        .panel__footer
          input.btn.btn_primary.form-simple__btn_action(value="LOGIN", type="submit")

  script(src="assets/js/vendor.js")
  script(src="assets/js/main.js")
