doctype html
html(lang="en")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description",content="")
  link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
  meta(name="author", content="Sergey Pozhilov")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
  link(rel="stylesheet",href="assets/styles/main.css")
  title Not implemented - Frontend test

  body.page.page_message

    .panel.panel_message
      .panel__body
        .panel__text
          h2.panel__caption Not Implemented
          .panel__content.panel__content_center
            | Sorry, but the page you are trying to reach is not available.
            br
            a(href="index.html") Back to the login page
