doctype html
html(lang="en")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description",content="")
  link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
  meta(name="author", content="Sergey Pozhilov")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
  link(rel="stylesheet",href="assets/styles/main.css")
  title Jessica Parker Profile - Frontend test

  body.page.page_profile

    .page__line.page__line_profile
      .profile
        a.btn.profile__btn(href="index.html") LOGOUT
        .profile__avatar(style="background-image:url(assets/images/profile_image.jpg); background-position:top center;")
        h1.profile__name Jessica Parker
        .profile__details
          .profile__details-line
            i.icon.profile__details-icon &#xf4b8;
            span.profile__details-text.profile__details-text_phone (949) 325 - 68594
          .profile__details-line
            i.icon.profile__details-icon &#xf455;
            span.profile__details-text Newport Beach, CA
        .profile__rating
          .star-rating.profile__rating-stars
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            .star-rating__rating(style="width:80%;")
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
          .profile__rating-reviews
            span.profile__rating-number 6
            | Reviews
        .profile__followers
          .followers
            .icon.followers__icon &#xf48b;
            span.followers__number 15
            = ' '
            span.followers__text followers
        .profile__upload: a.btn.btn_secondary.btn_icon(href="notimplemented.html")
          i.icon.btn__icon.btn__icon_secondary &#xf3f6;
          span.btn__icon-text Upload Cover Image
      .profile__menu
        a.profile__menu-item.profile__menu-item_active(href="javascript:void(0)") About
        a.profile__menu-item(href="javascript:void(0)") Settings
        a.profile__menu-item(href="javascript:void(0)") Option 1
        a.profile__menu-item(href="javascript:void(0)") Option 2
        a.profile__menu-item(href="javascript:void(0)") Option 3

    .page__line.page__line_dashboard

      .dashboard

        .dashboard__edit
          .edit-ctrl
            a.edit-ctrl__btn-edit(href="javascript:void(0)")
              i.icon.edit-ctrl__edit-icon &#xf2bf;
            .edit-ctrl__confirm-dlg
              a(href="").btn.edit-ctrl__btn Cancel
              a(href="").btn.edit-ctrl__btn Save

        h3.dashboard__caption Profile info

        .info
          .info__line.info__line_name
            .info__text John Doe
            .info__ctrl
              a.info__edit(href="javascript:void(0)")
                i.icon.info__edit-icon &#xf2bf;
          .info__line.info__line_category
            .info__text Business
            .info__ctrl
              a.info__edit(href="javascript:void(0)")
                i.icon.info__edit-icon &#xf2bf;
          .info__line
            .info__text
              i.icon.info__icon &#xf276;
              | www.seller.com
            .info__ctrl
              a.info__edit(href="javascript:void(0)")
                i.icon.info__edit-icon &#xf2bf;
          .info__line
            .info__text
              i.icon.info__icon &#xf4b8;
              | (949) 325 - 68594
            .info__ctrl
                a.info__edit(href="javascript:void(0)")
                  i.icon.info__edit-icon &#xf2bf;
          .info__line
            .info__text
              i.icon.info__icon &#xf447;
              | Newport Beach, CA
            .info__ctrl
                a.info__edit(href="javascript:void(0)")
                  i.icon.info__edit-icon &#xf2bf;

  script(src="assets/js/vendor.js")
  script(src="assets/js/main.js")
