doctype html
html(lang="en")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description",content="")
  link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
  meta(name="author", content="Sergey Pozhilov")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
  link(rel="stylesheet",href="assets/styles/main.css")
  title Jessica Parker Profile - Frontend test

  body.page.page_profile

    .page__line.page__line_profile
      .profile
        a.profile__btn(href="index.html") LOGOUT
        .profile__avatar(style="background-image:url(assets/images/profile_image.jpg); background-position:top center;")
        h1.profile__name Jessica Parker
        .profile__details
          .profile__details-line
            i.icon.profile__details-icon &#xf4b8;
            span.profile__details-text.profile__details-text_phone (949) 325 - 68594
          .profile__details-line
            i.icon.profile__details-icon &#xf455;
            span.profile__details-text Newport Beach, CA
        .profile__rating
          .star-rating.profile__rating-stars
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            i.icon.star-rating__icon &#xf3ae;
            .star-rating__rating(style="width:80%;")
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
              i.icon.star-rating__icon &#xf2fc;
          .profile__rating-reviews
            span.profile__rating-number 6
            | Reviews
        .profile__followers
          .followers
            .icon.followers__icon &#xf48b;
            span.followers__number 15
            = ' '
            span.followers__text followers
        .profile__upload
          a.btn-upload(href="notimplemented.html")
            i.icon.btn-upload__icon &#xf3f6;
            span.btn-upload__text Upload Cover Image
      .profile__menu
        a.profile__menu-item.profile__menu-item_active(href="javascript:void(0)") About
        a.profile__menu-item(href="javascript:void(0)") Settings
        a.profile__menu-item(href="javascript:void(0)") Option 1
        a.profile__menu-item(href="javascript:void(0)") Option 2
        a.profile__menu-item(href="javascript:void(0)") Option 3

    .page__line.page__line_dashboard

      .dashboard

        .dashboard__edit
          #profile-edit-ctrl.profile-edit-ctrl
            a.profile-edit-ctrl__btn-edit.js-toggler(href="javascript:void(0)")
              i.icon.profile-edit-ctrl__edit-icon &#xf2bf;
            .profile-edit-ctrl__confirm-dlg.js-dlg
              a(href="javascript:void(0)").profile-edit-ctrl__btn.js-cancel Cancel
              a(href="javascript:void(0)").profile-edit-ctrl__btn.js-save Save

        h3.dashboard__caption Profile info

        #user-info.info
          .info__line.info__line_name(data-type="Full Name")
            .info__text
              span.js_value Jessica Parker
            .info__ctrl
              a.info__edit(href="javascript:void(0)")
                i.icon.info__edit-icon &#xf2bf;
          .info__line.info__line_category(data-type="Category")
            .info__text
              span.js_value Business
            .info__ctrl
              a.info__edit(href="javascript:void(0)")
                i.icon.info__edit-icon &#xf2bf;
          .info__line(data-type="Website")
            .info__text
              i.icon.info__icon &#xf276;
              span.js_value www.seller.com
            .info__ctrl
              a.info__edit(href="javascript:void(0)")
                i.icon.info__edit-icon &#xf2bf;
          .info__line(data-type="Phone Number")
            .info__text
              i.icon.info__icon &#xf4b8;
              span.js_value (949) 325 - 68594
            .info__ctrl
                a.info__edit(href="javascript:void(0)")
                  i.icon.info__edit-icon &#xf2bf;
          .info__line(data-type="City, State &amp; Zip")
            .info__text
              i.icon.info__icon &#xf447;
              span.js_value Newport Beach, CA
            .info__ctrl
                a.info__edit(href="javascript:void(0)")
                  i.icon.info__edit-icon &#xf2bf;

        #user-editor.dashboard__editor
          form.form-simple(action="", method="GET")
            .form-simple__item
              .input
                input.input__field#fname(type="text", value="Jessica")
                label.input__label(for="fname") First Name
                span.input__highlight
                span.input__bar
            .form-simple__item
              .input
                input.input__field#lname(type="text", value="Parker")
                label.input__label(for="lname") Last Name
                span.input__highlight
                span.input__bar
            .form-simple__item
              .input
                input.input__field#website(type="text", value="www.seller.com")
                label.input__label(for="website") Website
                span.input__highlight
                span.input__bar
            .form-simple__item
              .input
                input.input__field#phone(type="text", value="949-000-000")
                label.input__label(for="phone") Phone Number
                span.input__highlight
                span.input__bar
            .form-simple__item
              .input
                input.input__field#address(type="text", value="Newport Beach, CA")
                label.input__label(for="address") City, State &amp; Zip
                span.input__highlight
                span.input__bar

    #minieditor.minieditor
      .minieditor__content
        .form-simple
          .form-simple__item
            .input
              input#minieditor-value.input__field(type="text", required)
              label#minieditor-label.input__label(for="minieditor-value") &nbsp;
              span.input__highlight
              span.input__bar
        .minieditor__buttons
          button.js_save.minieditor__button.minieditor__button_primary SAVE
          button.js_cancel.minieditor__button.minieditor__button_secondary CANCEL


  script(src="assets/js/vendor.js")
  script(src="assets/js/main.js")
