.btn-upload {
  @include btn;
  padding-top: 0;
  padding-bottom: 0;
  color: #727e88;
  font-size: 14px;
  font-weight: normal;
  border-color: $color-line;

  @include tablet-up {
    border-color: $color-line;
  }

  &__icon {
    font-size: 29px;
    vertical-align: middle;
    margin-right: 20px;
    color: $color-line;
  }

  &__text {
    vertical-align: middle;
  }
}
