input {
  font-family: $font-family-input;
  font-size: $font-size-input;
  color:$color-text-input;
}

label {
  font-family: $font-family-label;
  font-size: $font-size-label;
  color:$color-text-label;
}

.input {
  position:relative;

  &__label {
    position:absolute;
    pointer-events:none;
    left:0px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  &__field {
    font-size:$font-size-input;
    color:$color-text;
    padding:10px 10px 8px 0;
    display:block;
    width:100%;
    border:none;
    border-radius: 0;
    border-bottom:1px solid $color-line;

    &:focus, &:valid {
      ~ label {
        top:-12px;
        color: #a6b0b7;
        font-size:12px;
        text-transform: uppercase;
      }
    }

    &:focus {
      ~ &__bar:before, ~ &__bar:after { width:50%; }
      ~ &__highlight { animation:input__animation 0.3s ease; }
    }
  }

  &__bar {
    position:relative; display:block; width:100%;

    &:before, &:after   {
      content:'';
      height:3px;
      width:0;
      bottom:-1px;
      position:absolute;
      background:#5264AE;
      transition:0.2s ease all;
    }

    &:before { left:50%; }
    &:after { right:50%; }
  }

  &__highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
}


.form-simple {
  &__item {
    height:65px;

    &_login {
      height:80px;
    }

    &:last-child {
      height:auto;
    }
  }

  &__item-notes {
    font-size: 14px;
    color: $color-text-dimmed;
  }
  &__btn_action {
    padding:18px;
    width:100%;
    @include smartphone {
      border-radius:0;
    }
  }
}


// Helpers: Animations
@keyframes input__animation {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
