// target large screens, i.e. desktops
@mixin smartphone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

// target tablets only
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// target large screens, i.e. desktops
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// target both tablets and desktops
@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

// Clear floats
@mixin clear-floats {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
