.page_login,
.page_message {
  height:100%;
  @include tablet-up {
    background: #567683 url(../images/fullscreen_bg_image.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}

.page_profile {
  background: #f5f8f9;
  padding-bottom: 34px;
  @include tablet-up {
    padding:71px 0;
  }
}

.page__line {
  margin-left: auto;
  margin-right: auto;
  background: $white;
  padding: 20px 24px 28px 24px;

  & + & {
    margin-top:11px;
    @include tablet-up {
      margin-top:31px;
    }
  }

  @include tablet-up {
    box-shadow:0 1px 6px rgba(114, 126, 136, .28);
    background: $white;
    width:760px;
  }

  @include desktop {
    width: 1170px;
  }

  &_profile {
    padding:0;
    box-shadow: none;
    @include smartphone {
      border-top: 1px solid $color-line;
      border-bottom: 1px solid $color-line;
    }
  }

  &_dashboard {
    @include smartphone {
      border-top: 1px solid $color-line;
      border-bottom: 1px solid $color-line;
    }
    @include tablet-up {
      min-height: 600px;
    }
  }
}
