$color-background:          #fff;
$color-text:                #000;
$color-action:              #007ee5;

$font-family-def:           "Open sans", Helvetica, Arial, Helvetica, sans-serif;
$font-family-body:          $font-family-def;
$font-family-headings:      $font-family-def;
$font-family-labels:        $font-family-def;
$font-family-inputs:        $font-family-def;

$font-size-def:             14px;
$font-size-body:            $font-size-def;
$font-size-inputs:          $font-size-def;

$tablet-width:              768px;
$desktop-width:             1024px;

$radius:                    4px;