@import "reset";
@import "variables";
@import "mixins";
@import "pages";
@import "buttons";
@import "forms";
@import "panels";
@import "profile";
@import "dashboard";

html {
  height:100%;
}

// Typography
body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: 1.5;
  color: $color-text;
}
a {
  color:$color-action;
  text-decoration: none;
}


// Helpers / unsorted stuff
.icon { font-family:"Ionicons"; }
