@import "reset";
@import "variables";
@import "mixins";
@import "buttons";
@import "forms";
@import "profile";


html,
body {
  height:100%;
}

// Typography
body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: 1.5;
  color: $color-text;
}
a {
  color:$color-action;
  text-decoration: none;
}


// Panels
.panel {
  &__caption {
    font-size: 25px;
    text-align: center;
    margin-bottom:80px;
    @include tablet-up {
      margin-bottom:43px;
      padding: 0 0 32px 0;
      border-bottom: 1px solid $color-line;
    }
  }
  &__body {
    background: $white;
    @include tablet-up {
      border-radius:$radius;
      box-shadow:0 4px 16px rgba(58, 75, 93, .27);
    }
  }
  &__text {
    padding:64px 51px 32px 51px;
    @include tablet-up {
      padding:38px 51px 32px 51px;
    }
  }
  &__content{
    padding:0 0 20px 0;
    &_center { text-align: center; }
  }
  &__footer {
    @include smartphone {
      position: absolute;
      bottom:0;
      width: 100%;
    }
    @include tablet-up {
      padding: 0 51px 38px 51px;
    }
  }
}

.panel_login,
.panel_message {
  @include tablet-up {
    width: 500px;
    display: flex;
    align-self: center;
  }
}

.panel__message {
  &_center { text-align: center; }
}

// Login Page, short message page
.page_login,
.page_message {
  @include tablet-up {
    background: url(../images/fullscreen_bg_image.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}

.icon { font-family:"Ionicons"; }
