@import "reset";
@import "variables";
@import "mixins";


html{ height:100%; }

// Typography
body {
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: 1.5;
}
a {
  color:$color-action;
  text-decoration: none;
}


// Panels
.panel {
  &__caption {
    font-size: 25px;
    text-align: center;
    margin-bottom:80px;
    @include tablet-up {
      margin-bottom:43px;
      padding: 0 0 32px 0;
      border-bottom: 1px solid $color-line;
    }
  }
  &__body {
    background: $white;
    @include tablet-up {
      border-radius:$radius;
      box-shadow:0 4px 16px rgba(58, 75, 93, .27);
    }
  }
  &__text {
    padding:64px 51px 32px 51px;
    @include tablet-up {
      padding:38px 51px 32px 51px;
    }
  }
  &__content{
    padding:0 0 20px 0;
    &_center { text-align: center; }
  }
  &__footer {
    @include smartphone {
      position: absolute;
      bottom:0;
      width: 100%;
    }
    @include tablet-up {
      padding: 0 51px 38px 51px;
    }
  }
}

.panel_login,
.panel_message {
  @include tablet-up {
    width: 500px;
    display: flex;
    align-self: center;
  }
}

.panel__message {
  &_center { text-align: center; }
}

// Buttons
.btn {
  display: inline-block;
  padding:18px;
  border-radius:$radius;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  cursor:pointer;
  @include tablet-up {
  }
  &__primary {
    background: $color-action;
    color:$white;
    &:hover { background:lighten($color-action, 12%); }
  }
  &_block {
    width:100%;
    @include smartphone {
      border-radius:0;
    }
  }
}


// Inputs & labels
input {
  font-family: $font-family-input;
  font-size: $font-size-input;
  color:$color-text-input;
}

label {
  font-family: $font-family-label;
  font-size: $font-size-label;
  color:$color-text-label;
}

.input {
  position:relative;

  &__label {
    position:absolute;
    pointer-events:none;
    left:0px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  &__field {
    font-size:$font-size-input;
    color:$color-text;
    padding:10px 10px 10px 0;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid $color-line;

    &:focus, &:valid {
      ~ label {
        top:-20px;
        color: #a6b0b7;
        font-size:12px;
        text-transform: uppercase;
      }
    }

    &:focus {
      ~ &__bar:before, ~ &__bar:after { width:50%; }
      ~ &__highlight { animation:input__animation 0.3s ease; }
    }
  }

  &__bar {
    position:relative; display:block; width:100%;

    &:before, &:after   {
      content:'';
      height:3px;
      width:0;
      bottom:-1px;
      position:absolute;
      background:#5264AE;
      transition:0.2s ease all;
    }

    &:before { left:50%; }
    &:after { right:50%; }
  }

  &__highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
}


// Login form
.form-simple {
  &__item {
    margin:32px 0;
    &:last-child { margin-bottom:0; }
  }

  &__item-notes {
    font-size: 14px;
    text-align: center;
    color: $color-text-dimmed;
  }
  &__item-action { padding:0; }
}


// Login Page, short message page
.page_login,
.page_message {
  @include tablet-up {
    background: url(../images/fullscreen_bg_image.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
  }
}

.page_profile {
  background: #f5f8f9;
  @include tablet-up {
    padding:71px 0 0 0;
  }
}


.page__line {
  margin-left: auto;
  margin-right: auto;

  & + & { margin-top:31px; }

  @include tablet-up {
    background: $white;
    width:760px;
  }

  @include desktop {
    width: 1170px;
  }
}


// Helpers: Animations
@keyframes input__animation {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}